@import "variables";
@import "mixins";
@import "normalize";
@import "layout";


@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-arrow-down:before{content:'\0041';}
.icon-arrow-down-small:before{content:'\0042';}
.icon-arrow-left:before{content:'\0043';}
.icon-arrow-right:before{content:'\0044';}
.icon-arrow-up:before{content:'\0045';}
.icon-arrow-up-small:before{content:'\0046';}
.icon-banners:before{content:'\0047';}
.icon-calendar:before{content:'\0048';}
.icon-close:before{content:'\0049';}
.icon-details:before{content:'\004a';}
.icon-general:before{content:'\004b';}
.icon-links:before{content:'\004c';}
.icon-login:before{content:'\004d';}
.icon-message:before{content:'\004e';}
.icon-negative:before{content:'\004f';}
.icon-notification:before{content:'\0050';}
.icon-password:before{content:'\0051';}
.icon-payout:before{content:'\0052';}
.icon-personaldata:before{content:'\0053';}
.icon-positive:before{content:'\0054';}
.icon-postback:before{content:'\0055';}
.icon-profile:before{content:'\0056';}
.icon-quit:before{content:'\0057';}
.icon-refresh:before{content:'\0058';}
.icon-show:before{content:'\0059';}
.icon-trash:before{content:'\005a';}
.icon-url:before{content:'\0061';}
.icon-wallet:before{content:'\0062';}

/*** Global settings ***/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900');

/* Global Variables */
    /* Colors */
    $black-op01: rgba(0, 0, 0, 0.1);
    $black-op07: rgba(0, 0, 0, 0.7);
    $black-op05: rgba(0, 0, 0, 0.5);
    $black-op02: rgba(0, 0, 0, 0.2);
    $black-op089: rgba(0, 0, 0, 0.89);
    $grey-op06: rgba(56, 56, 56, 0.6);
    $lightgrey: #696b6e;
    $darkgrey: #313234;
    $color-white: white;
    $lightskyblue: #02c5e9;
    $color-grey: grey;
    $color-black: black;
    $color-grinish: #002630;
    
    



html {
  height: 100%;
}

body {
  margin: 0 auto;
  }

body.layout {
  display: flex;
  height: 100%;
  background-color: gray;

  .sidebar {
    background-color: black;
    color: white;
    width: 200px;

    .icons-svg {
      color: white;
    }
  }
  .content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    .content-topbar{
      background-color: white;
      height: 80px;
    }

    .content-panels{
      overflow: auto;

    }
  }
}

        ul {
            margin: 0;
            li {
                display: inline-block;
                
                a {
                      padding: 0 20px;
                      text-decoration: none;
                      color: $color-grey;
                      font-weight: bold;
                      
                      &.light-blue-color {
                          color: $lightskyblue;
                      }
                    
                    &:hover {
                        background: $lightgrey;
                    }
            }
        }
      }

.panel {
  height: 300px;
  margin: 20px;
  background-color: rgb(61, 165, 155);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}




.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  width: 100%;
  float: left;
}

.row {
  display: inline;
}


/*** Columns settings ***/
@mixin grid-generator($size, $grid-columns) {
	@for $i from 1 through $grid-columns {
		.col#{$size}-#{$i} {
			width: percentage($i / $grid-columns);	
		}
		.col-offset#{$size}-#{$i} {
			margin-left: percentage($i / $grid-columns);	
		}		
	}
}
@include grid-generator("", 12);

@media (max-width: 767px) {

  /* For tablets: */
  @include grid-generator("-s", 12);


  [class*="col-"] {
    padding: 12px;
  };

  /*display: flex; 
  height: 100%; */
  /*background-color: gray; */
  .menu-wrapper {
    /* display: none; */
    overflow: auto;
    
    .manager-pix{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      //position: relative;
      width: 50px;
      height: 50px;
      //border: none;
      //border-radius: 50%;
      //display: block;
      //text-align: center;
      //left: 25%;
    }
  }

  
   
  
    .sidebar {
      width: 200px;
      position: relative;
    }
    .content {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
  
      .content-topbar{
        background-color: white;
        height: 80px;
      }
  
      .content-panels{
        overflow: auto;
      }
    }
  }
  

@media (min-width: 768px) {

  /* For desktop: */
  @include grid-generator("-m", 12);
  
  


}

